{% extends 'index.html' %}
{% block title %}Edit Task{% endblock %}
{% block content %}
<div class="container my-3">
    <h2 class="text-center">Update Task</h2>
<form action="/update/{{id}}">
{% csrf_token %}
  <div class="mb-3">
    <label for="title" class="form-label">Task Title</label>
    <input type="text" class="form-control" id="title" name="title" value={{title}}>
  </div>
  <div class="mb-3">
    <label for="descr" class="form-label">Task Description</label>
    <textarea class="form-control" name="descr" id="descr" cols="30" rows="10">{{descr}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
{% endblock content %}